<div class="second-nav-container flex-center-left full-container">
  <div class="menu-button plain-text">
      <button mat-icon-button (click)="clickMenu()">
        <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div class="current-position">
    <div class="current-position">
      <span class="plain-text-white"><a routerLink="/home">Home </a> | <a routerLink="/home"> Top Stories</a></span>
    </div>
  </div>
  <div class="search-block flex-center-right">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"> <span><fa-icon [icon]="faSearch"></fa-icon></span></button>
      </div>
    </div>
  </div>
</div>
