@import "../../../../../styles"

.chat-box
  padding: 10px 10px 0
  border-top: 1px #CACACA66 solid
  border-bottom: 1px #CACACA66 solid
  width: 100%
  background-color: #f9f9f977
  .chat-box-image
    flex: 1
    padding: 5px
    .chat-username
      padding-top: 5px
    .image-icon
      width: 60px
      height: 60px
      border-radius: 50%
      border: 1px solid black
      margin: auto
  .chat-box-content
    flex: 14
    padding: 10px 10px 0
    min-height: 110px
    .message-content-container
      flex: 7
      padding: 10px 10px 10px 0
      .message-image
        flex: 3
        .image-container
          color: white
          min-height: 200px
          min-width: 200px
          background-color: black
      .message-content
        padding: 10px 10px 0
        flex: 10
    .message-footer
      flex: 3
      min-height: 35px
      .challenge-message
        flex: 4
      .message-footer-date
        flex: 3
        text-align: center
      .message-footer-votes
        flex: 5
        text-align: right

.current-votes
  padding-right: 20px

.border-icon
  padding: 3px
  border: 1px solid $text-color
  border-radius: 5px
