@import "src/styles"

.create-channel-card
  min-height: 290px
  padding: 10px

.profile-image
  border-radius: 50%
  max-width: 250px
  min-height: 250px
  margin: 10px auto
  border: 12px double $secondary-color
  background-color: #efefef
  padding: 5px

img
  border-radius: 50%

.fake-button
  text-align: center
  padding: 0 5px 5px
  margin-bottom: 40px

.greeting
  text-align: center

label
  text-align: right

.drop-image
  text-align: center

.col-md-8
  padding: 4px

.col-md-12
  margin-top: 20px
  text-align: center

  textarea
    text-align: left

input[type="file"]
  display: none

.custom-file-upload
  text-align: center
  padding: 10px 0
  &:hover
    cursor: pointer
    font-size: 110%

.btn-block
  span
    position: relative
    margin-right: 20%


button
  min-height: 36px
