<div class="profile-photo flex-center">
  <div class="user-profile-badge">
    <button mat-icon-button routerLink="/user-profile">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <div class="image-block full-container">
    <div *ngIf="imageUrl; else fetchingImage">
      <img [src]="imageUrl" width="100%" height="100%" alt="profile-pic">
    </div>
    <ng-template #fetchingImage>
      <div class="flex-column-center">
        <mat-spinner diameter="40"></mat-spinner>
        <span class="plain-text-accent">Fetching image</span>
      </div>
    </ng-template>
  </div>
</div>
<div class="user-badge" [class.mat-elevation-z4]="true">
  <div>
    <app-user-badge></app-user-badge>
  </div>
</div>
<div class="links">
  <mat-nav-list>
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="/home">
        <a matLine class="full-container">
          <span class="left-icon"><fa-icon [icon]="faBookOpen" [fixedWidth]="true" class="text"></fa-icon></span>
          <span class="plain-text">Today's Stories</span>
        </a>
      </mat-list-option>
      <mat-list-option routerLink="/my-debates">
        <a class="text" matLine>
          <span class="left-icon"><fa-icon [icon]="faGraduationCap" [fixedWidth]="true"></fa-icon></span>
          <span class="plain-text">My Debates</span>
        </a>
      </mat-list-option>
      <mat-list-option (click)="goTo('/channels')">
        <a mat-line routerLink="/channels" class="full-container">
          <span class="left-icon"><fa-icon [icon]="faBook" [fixedWidth]="true" class="text"></fa-icon></span>
          <span class="plain-text">Channels</span>
        </a>
      </mat-list-option>
    </mat-selection-list>
    <mat-selection-list [multiple]="false">
      <div class="custom-channel-list" *ngFor="let channel of userChannels">
        <mat-list-option routerLink="/channel/{{channel.id}}">
          <a class="text" matLine>
            <span class="plain-text">{{channel.name}}</span>
          </a>
        </mat-list-option>
      </div>
    </mat-selection-list>
  </mat-nav-list>
</div>

