@import "../../styles"

.text
 color: $text-color

.column-container
  @include flex(column, flex-start)
  min-height: 100%
  background-color: white

.test-container
  @include flex(column, flex-start)

.user-badge
  flex: 1
  display: flex
  justify-content: center
  align-items: flex-end

.profile-photo
  flex: 3
  @include flex(column, center)
  align-items: center

.profile-photo
  div
    display: flex

mat-list-option
  border-bottom: 0.5px solid #cacaca
  margin-top: 1px
  background-color: #fafafa

mat-nav-list, mat-selection-list
  padding-top: 0

.links
  flex: 15

.custom-channel-list
  padding-left: 10px
  font-size: $text-size-medium
