@import "../../styles"

.text
  color: $text-color

.test-container
  @include flex(column, flex-start)

.mat-list-item-content
  padding-right: 0

.profile-photo
  width: 100%
  min-height: 140px
  background-color: white

mat-list-option
  border-bottom: 0.5px solid #cacaca
  margin-top: 1px
  background-color: #fafafa

mat-nav-list, mat-selection-list
  padding-top: 0

.links
  flex: 15

.custom-channel-list
  font-size: $text-size-medium

mat-list-option
  padding-left: 20px

#add-button
  color: $secondary-color
  text-align: right
  padding-left: 5px

#add-channels
  padding: 5px
  background-color: #eee
  text-align: center

  &:hover
    cursor: pointer

.search-channel-box
  position: absolute
  top: 40%
  width: 100%
  min-height: 100px
  background-color: white
