<nav>
  <mat-toolbar color="primary" [class.mat-elevation-z2]="true">
    <mat-toolbar-row id="top-nav">
      <div class="left-nav" (click)="goHome()">
        <span class="left-icon home-button">
          <fa-icon [icon]="faHome" [fixedWidth]="true"></fa-icon>
        </span>
        <h1>{{title}}</h1>
      </div>
      <div class="center-nav">
      </div>
      <div class="right-nav">

        <span id="bell">
          <span  matBadge="4" matBadgePosition="above after" matBadgeColor="warn">
            <fa-icon [icon]="faBell" [fixedWidth]="true"></fa-icon>
          </span>
        </span>
        <fa-icon [icon]="faSignOut" [fixedWidth]="true" (click)="signOut()"></fa-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<div *ngIf="user; else spinner" class="page">
  <app-page></app-page>
</div>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>

