@import "src/styles"

#create-container
  mat-card
    padding: 15px 15px 7px

#create-container:hover
  cursor: pointer
  max-width: $card-width + 0.5

.create-card:hover
  background-color: $secondary-color-hover

mat-card-content
  text-align: center
