@import "src/styles"

#create-container:hover
  cursor: pointer
  max-width: $card-width + 0.5

.create-card:hover
  background-color: $secondary-color-hover

mat-divider
  width: 90%

.debate-card
  .debate-card-header
    flex: 1
    .debate-card-top-left-corner
      flex: 1
    .debate-card-top-center
      text-align: center
      flex: 4
    .debate-card-top-right-corner
      text-align: right
      flex: 1
  .debate-card-content
    flex: 3
    .debate-content-container
      flex: 7
      .debate-sub-header
        flex: 1
      .debate-content
        flex: 4
    .debate-card-votes-block
      flex: 1
  .debate-card-footer
    flex: 1
    .debate-card-bottom-left-corner
      flex: 4
    .debate-card-center
      flex: 1
      text-align: center
    .debate-card-bottom-right-corner
      flex: 4
      text-align: right

.time-block
  span
    span
      font-size: $text-size-small

.percentage
  margin-top: 20px
.number-of-votes
  text-align: center
  margin-top: 20px

.debate-description
  text-align: center
  width: 90%

mat-card-content
  text-align: center

mat-card
  padding-bottom: 5px

button:focus
  outline: 0
  border: none

.blue-bar
  @include voting-bar($blue-team-color)

.red-bar
  @include voting-bar($red-team-color)
