@import "src/styles"

.aligner-item
  padding-left: 12px
  padding-right: 12px

.user-badge
  width: 100%
  min-height: 60px
  background-color: white
  padding-bottom: 5px
.username
  text-align: center
.likes
  text-align: right
