<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row id="top-nav">
      <div class="left-nav">
        <fa-icon [icon]="faHome" [fixedWidth]="true"></fa-icon>
      </div>
      <div class="center-nav"><h1 class="text-center">{{title}}</h1></div>
      <!-- This fills the remaining space of the current row -->
      <div class="right-nav">
        <span id="bell">
          <span  matBadge="4" matBadgePosition="above after" matBadgeColor="warn">
            <fa-icon [icon]="faBell" [fixedWidth]="true"></fa-icon>
          </span>
        </span>
        <fa-icon [icon]="faSignOut" [fixedWidth]="true"></fa-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<app-page-content></app-page-content>

<router-outlet></router-outlet>
