@import "../../../styles"

.create-header
  height: 180px
.form-group
  margin-top: 20px
  label
    padding-right: 30px
  .col-md-10, .col-md-4
    padding-left: 0

#create-card
  height: 555px

.team-2-label
  text-align: right

.submit-container
  .mat-button
    width: 15%!important
    font-family: centuary-gothic, sans-serif!important
    font-size: $text-size-regular!important
    margin: 10px 10px
    &:hover
      left: 2px
  .success:hover
    background: lighten($primary-color, 20%)
  .cancel:hover
    background: lighten($warning-color, 20%)
