<form [formGroup]="createDebateForm" (ngSubmit)="onSubmit()">
  <mat-card class="top-card" id="create-debate-card">
    <section class="create-header">
      <div class="form-group row">
        <label for="interesting-title" class="col-md-2 col-form-label plain-text-x">
          Interesting Title<span class="plain-text-s-accent">*</span>:
        </label>
        <div class="col-md-10">
          <input type="text" formControlName="title" class="form-control" id="interesting-title"
                 placeholder="Does the world really need a Queen figure?" [ngClass]="{
                 'has-danger': title.invalid && (title.dirty || title.touched),
                 'has-success': title.valid && (title.dirty || title.touched)
                 }">
          <app-invalid-form [formControlInput]="title" [name]="'Debate Title'"></app-invalid-form>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="topic-description" class="col-form-label plain-text-x" id="description-label">
            Topic description<span class="plain-text-s-accent">*</span>:
          </label>
          <small id="topic-description-help-block" class="form-text text-muted plain-text-s">
            This will be the main discussion in the debate
          </small>
        </div>
        <div class="col-md-10">
          <textarea formControlName="description" class="form-control" id="topic-description" rows="3"
                    placeholder="Dogs bark and pee on the floor, Cats scratch you and find their own food. Team cats!"
                    [ngClass]="{'has-danger': description.invalid && (description.dirty || description.touched),
                    'has-success': description.valid && (description.dirty || description.touched)}">
          </textarea>
          <app-invalid-form [formControlInput]="description" [name]="'Debate Description'"></app-invalid-form>
        </div>
      </div>
    </section>
    <section class="teams">
      <mat-divider [inset]="true"></mat-divider>
      <div class="form-group row">
        <label for="team-1-name" class="col-md-2 col-form-label plain-text-x">
          Team 1 Name<span class="plain-text-s-accent">*</span>:
        </label>
        <div class="col-md-4" formGroupName="team1">
          <input formControlName="name" type="text" class="form-control" id="team-1-name" placeholder="Dogs"
                 [ngClass]="{
                 'has-danger': team1Name.invalid && (team1Name.dirty || team1Name.touched),
                 'has-success': team1Name.valid && (team1Name.dirty || team1Name.touched)
                 }">
          <app-invalid-form [formControlInput]="team1Name" [name]="'Team 1 Name'"></app-invalid-form>
        </div>
        <label for="team-2-name" class="col-md-2 col-form-label plain-text-x middle-labels">
          Team 2 Name<span class="plain-text-s-accent">*</span>:
        </label>
        <div class="col-md-4" formGroupName="team2">
          <input formControlName="name" type="text" class="form-control" id="team-2-name" placeholder="Cats"
                 [ngClass]="{
                 'has-danger': team2Name.invalid && (team2Name.dirty || team2Name.touched),
                 'has-success': team2Name.valid && (team2Name.dirty || team2Name.touched)
                 }">
          <app-invalid-form [formControlInput]="team2Name" [name]="'Team 2 Name'"></app-invalid-form>
        </div>
      </div>
    </section>
    <section class="mid-section">
      <mat-divider [inset]="true"></mat-divider>
      <div class="form-group row">
        <label for="selected-channel" class="col-md-2 col-form-label plain-text-x">
          Selected Channel<span class="plain-text-s-accent">*</span>:
        </label>
        <div class="col-md-5">
          <select formControlName="channel" class="form-control" id="selected-channel" [ngClass]="{
                 'has-danger': channel.invalid && (channel.dirty || channel.touched),
                 'has-success': channel.valid && (channel.dirty || channel.touched)
                 }">
            <option class="plain-text-s" *ngFor="let channel of channels" [ngValue]="channel">
              {{channel.name}}
            </option>
          </select>
          <app-invalid-form [formControlInput]="channel" [name]="'Channel'"></app-invalid-form>
        </div>
        <label for="debate-labels" class="col-md-1 col-form-label plain-text-x middle-labels">
          Labels:
        </label>
        <div class="col-md-4">
          <input formControlName="label" type="text" class="form-control" id="debate-labels"
                 placeholder="Animals Dogs Cats" [ngClass]="{
                 'has-success': label.valid && (label.dirty || label.touched)
                 }">
          <small id="label-help-block" class="form-text text-muted plain-text-s">
            Keywords that help make searching for the debate easier.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="talk-duration" class="col-md-2 col-form-label plain-text-x">
          Duration of talk<span class="plain-text-s-accent">*</span>:
        </label>
        <div class="col-md-2">
          <select id="talk-duration" class="form-control" formControlName="days" [ngClass]="{
                  'has-danger': days.valid && (days.dirty || days.touched),
                 'has-success': days.valid && (days.dirty || days.touched)
                 }">
            <option value="1" selected>1 Day</option>
            <option value="2">2 Days</option>
            <option value="3">3 Days</option>
            <option value="4">4 Days</option>
            <option value="5">5 Days</option>
          </select>
        </div>
        <div class="col-md-1"></div>
        <label for="just-for-fun-radio-input" class="col-md-1 col-form-label plain-text-x">
          Tags<span class="plain-text-s-accent">*</span>:
        </label>
        <mat-radio-group aria-label="Select an option" class="flex-bottom-left" formControlName="tag">
          <mat-radio-button value="justForFun" id="just-for-fun-radio"><span class="plain-text">Just For Fun</span>
          </mat-radio-button>
          <mat-radio-button value="Serious"><span class="plain-text">Serious</span></mat-radio-button>
          <mat-radio-button value="Controversial"><span class="plain-text">Controversial</span></mat-radio-button>
        </mat-radio-group>
      </div>
    </section>
  </mat-card>


  <mat-card class="debate-container">
    <div class="simple-debate-card-structure flex-column-center full-container">
      <div class="debate-card-header full-container">
        <!--      header-row    -->
        <section class="flex-center-left full-container">
          <div class="debate-card-top-left-corner plain-text-blue">
            <fa-icon [icon]="fabBookMark"></fa-icon>
            <span class="right-icon">Joined</span>
          </div>
          <div class="debate-card-top-center">
            <span class="plain-text-s">
              created by: <span class="plain-text-s-accent">{{user.username}}</span>
              in channel:
              <span class="plain-text-s-accent" *ngIf="channel.value; else noChannel">
                {{channel.value.name}}
              </span>
              <ng-template #noChannel>
                  <span class="placeholder-text">channel</span>
              </ng-template>
              on the: <span class="plain-text-s-accent">{{getDate() | date: 'dd/MM/yyyy'}}</span>
            </span>
          </div>
          <div class="debate-card-top-right-corner plain-text-red">
          </div>
        </section>
      </div>

      <mat-divider [inset]="true" style="width: 98%"></mat-divider>

      <div class="debate-card-content full-container">
        <section class="flex-center-left full-container">
          <div class="debate-card-votes-block full-container flex-center-left">
            <div class="number-container">
              <div class="plain-text-xxx percentage">0%</div>
              <div class="plain-text-xx number-of-votes">0</div>
            </div>
          </div>
          <div class="debate-content-container full-container flex-center">
            <div>
              <div class="full-container center-text">
                      <span class="header-text-cards" *ngIf="title.value; else noTitle">
                        {{title.value | titlecase}}
                      </span>
              </div>
              <ng-template #noTitle>
                <span class="placeholder-text-h">Preview Your Debate Here</span>
              </ng-template>
              <div class="full-container">
                <div class="center-text plain-text" *ngIf="description.value; else noDescription">
                  {{description.value}}
                </div>
                <ng-template #noDescription>
                  <div class="placeholder-text-plain center-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam...
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="debate-card-votes-block full-container flex-center-right">
            <div class="number-container">
              <div class="plain-text-xxx percentage">0%</div>
              <div class="plain-text-xx number-of-votes">0</div>
            </div>
          </div>
        </section>
      </div>
      <div class="debate-card-footer full-container">
        <section class="flex-bottom-left full-container">
          <div class="debate-card-bottom-left-corner full-container">
            <div class="debate-team-name-left header-text-regular" *ngIf="team1Name.value; else noTeam1Name">
              {{team1Name.value | titlecase}}
            </div>
            <ng-template #noTeam1Name>
              <div class="debate-team-name-left placeholder-text-hp">Team 1 Name</div>
            </ng-template>
            <div class="debate-bar full-container">
              <div class="blue-bar">
              </div>
            </div>
          </div>
          <div class="debate-card-center flex-center">
            <div class="time-block full-container">
              <div>
                <span class="header-text-x"> {{days.value}} </span><span class="header-text-cards">Days</span>
                <div class="header-text-cards">
                  Remaining
                </div>
              </div>
            </div>
          </div>
          <div class="debate-card-bottom-right-corner full-container flex-column-right">
            <div class="debate-team-name-right header-text-regular" *ngIf="team2Name.value; else noTeam2Name">
              {{team2Name.value | titlecase}}
            </div>
            <ng-template #noTeam2Name>
              <div class="debate-team-name-left placeholder-text-hp">Team 2 Name</div>
            </ng-template>
            <div class="debate-bar full-container flex-top-right">
              <div class="red-bar">
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </mat-card>

  <div class="submit-container flex-center button-text">
    <button mat-raised-button class="mat-button cancel" color="warn" (click)="goBack()">Cancel</button>
    <button mat-raised-button class="mat-button success" color="primary" [disabled]="!createDebateForm.valid">Create
    </button>
  </div>
</form>
