<div *ngFor="let channel of list">
  <mat-list-item class="channel-list-item full-container">
    <section class="flex-center-left full-container">
      <div class="left-channel-list full-container">
        <div class="flex-top-left">
          <section>
            <div class="plain-text-s-accent-light">{{getMembers(channel)}}</div>
            <div class="plain-text-ss">Members</div>
          </section>
        </div>
      </div>
      <div class="channel-name plain-text-s">{{channel.name}}</div>
      <div class="right-channel-list">
        <div *ngIf="isMember(channel) ; else joinBlock ">
          <button mat-stroked-button color="warn" class="leave" (click)="leaveChannel(channel)">Exit
            Channel
          </button>

        </div>
        <ng-template #joinBlock>
          <button mat-stroked-button color="primary" class="join" (click)="joinChannel(channel)">Join
            Channel
          </button>
        </ng-template>
      </div>
    </section>
  </mat-list-item>
</div>
