@import "../../../styles"

.chat-container
  height: 200px
  .chat-card-title
    flex: 1
    .chat-title-left-corner
      flex: 2
    .chat-title-center
      flex: 4
      text-align: center
    .chat-title-right-corner
      text-align: right
      flex: 2
  .chat-card-content
    flex: 4

.debate-content
  padding: 10px
