<mat-card class="top-chat">
  <div class="chat-container flex-column-center">
    <div class="chat-card-header full-container">
      <section class="flex-center-left">
        <div class="chat-title-left-corner plain-text-s">
          Created In Channel <span class="plain-text-s-accent">Channel Name</span>
        </div>
        <div class="chat-title-center plain-text-s">
          Debate Started By: <span class="plain-text-s-accent">Username</span> on the Date
        </div>
        <div class="chat-title-right-corner plain-text-s">
          Tagged As: <span class="plain-text-s-accent">Serious</span>
        </div>
      </section>
    </div>
    <div class="chat-card-content full-container">
      <div class="plain-text full-container flex-center">
        Debate Content:
      </div>
    </div>
    <div class="chat-card-header full-container flex-center">
      <section class="full-container flex-bottom-center">
        <div class="chat-title-left-corner plain-text-s">
          Seen by: <span class="plain-text-s-accent">Number</span>
        </div>
        <div class="chat-title-center plain-text-s">
          Time remaining
        </div>
        <div class="chat-title-right-corner plain-text-s">
          Members In Current Debate: <span class="plain-text-s-accent"></span>
        </div>
      </section>
    </div>
  </div>
</mat-card>

<mat-card>
  <mat-tab-group mat-align-tabs="center" animationDuration="1200ms" dynamicHeight>
    <mat-tab label="First Team">
      <ng-template matTabContent>
        first content
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        You're inquisitive I like you
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </ng-template>
    </mat-tab>
    <mat-tab label="Second Team">
      <ng-template matTabContent>
        The Second Content
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<div>
  <app-chat-footer></app-chat-footer>
</div>
