<div *ngIf="debate; else spinner">
  <mat-card class="top-chat">
    <div class="chat-container flex-column-center">
      <div class="chat-card-title full-container">
        <section class="flex-center-left">
          <div class="chat-title-left-corner plain-text-s">
            Created In Channel <span class="plain-text-s-accent">{{debate.channel.name}}</span>
          </div>
          <div class="chat-title-center plain-text-s">
            Debate Started By: <span class="plain-text-s-accent">{{debate.createdBy.username}}
          </span> on the {{debate.createdAt | date: 'dd/MM/yyyy'}}
          </div>
          <div class="chat-title-right-corner plain-text-s">
            Tagged As: <span class="plain-text-s-accent">{{debate.tag}}</span>
          </div>
        </section>
      </div>
      <mat-divider [inset]="true" style="width: 98%"></mat-divider>
      <div class="chat-card-content full-container">
        <div class="plain-text full-container flex-center">
          <div class="center-text">
            <div class="header-text-cards debate-content">
              {{debate.title}}
            </div>
            <div class="plain-text-s">
              {{debate.description}}
            </div>
          </div>
        </div>
      </div>
      <div class="chat-card-title full-container flex-center">
        <section class="full-container flex-bottom-center">
          <div class="chat-title-left-corner plain-text-s">
            Members In Current Debate:
            <span class="plain-text-s-accent" *ngIf="members !== null; else fetchingMembers">
              {{members}}
            </span>
            <ng-template #fetchingMembers class="plain-text-s-accent">
              fetching members
            </ng-template>
          </div>
          <div *ngIf="debateOngoing; else closedDebate" class="chat-title-center plain-text">
            5 Days remaining
          </div>
          <ng-template #closedDebate class="plain-text-red">
            <div class="plain-text-red">
              This Debate Is Complete
            </div>
          </ng-template>
          <div class="chat-title-right-corner plain-text-s">

          </div>
        </section>
      </div>
    </div>
  </mat-card>

  <div *ngIf="teams">
    <app-chat-body [teams]="teams" [team1Name]="debate.team1.name" [team2Name]="debate.team2.name"></app-chat-body>
  </div>

  <div *ngIf="debate">
    <app-chat-footer [teams]="teams" [team1Name]="debate.team1.name" [team2Name]="debate.team2.name"></app-chat-footer>
  </div>

</div>
<ng-template #spinner>
  <app-spinner [text]="'Fetching Debate'"></app-spinner>
</ng-template>


