<mat-card class="top-card">
  <div class="channels-list-header full-container">
    <section class="flex-center-left">
      <div class="filter-channel-list">
        <div class="input-group">
          <input #searchBox type="text" class="form-control" placeholder="filter channels"
                 (input)="search(searchBox.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><span><fa-icon [icon]="faSearch"></fa-icon></span>
            </button>
          </div>
        </div>
      </div>

      <div class="header-text-cards">
        <div class="channels-list-title">
          Channels
        </div>
      </div>

      <div class="create-new-channel">
        <a routerLink="/create-channel">
          <button mat-raised-button color="primary">Create New Channel
            <mat-icon>add</mat-icon>
          </button>
        </a>
      </div>
    </section>
  </div>
  <mat-divider inset></mat-divider>
  <div class="list-body">
    <mat-selection-list [multiple]="false">
      <!--      searched items block-->
      <div *ngIf="channelsList; let list else loading">
        <div *ngIf="list.length > 0; else noItemsFound">
          <div *ngFor="let channel of list; let index = index">
            <mat-list-item class="channel-list-item full-container">
              <section class="flex-center-left full-container">
                <div class="left-channel-list full-container">
                  <div class="flex-top-left">
                    <section>
                      <div class="plain-text-s-accent">{{channel?.members.length}}</div>
                      <div class="plain-text-ss">Members</div>
                    </section>
                  </div>
                </div>
                <div class="channel-name plain-text-s">{{channel.name}}</div>
                <div class="right-channel-list">
                  <div class="channel-button-block flex-center-right">
                    <div class="info-block" routerLink="/channel/{{channel.id}}">
                      <div class="plain-text">
                        <fa-icon [icon]="faReplyAll"></fa-icon>
                      </div>
                      <div class="plain-text-s">View more</div>
                    </div>
                    <div>
                      <div *ngIf="isMember(channel.members) ; else joinBlock ">
                        <button mat-stroked-button color="warn" class="leave" [disabled]="clickedArray[index].clicked"
                                (click)="leaveChannel(channel.id)">
                          <span *ngIf="!clickedArray[index].clicked; else loadAction">
                            Exit Channel
                          </span>
                          <ng-template #loadAction class="spinner">
                            <div class="flex-center">
                              <mat-spinner diameter="20"></mat-spinner>
                            </div>
                          </ng-template>
                        </button>
                      </div>
                      <ng-template #joinBlock>
                        <button mat-stroked-button color="primary" class="join" [disabled]="clickedArray[index].clicked"
                                (click)="joinChannel(channel.id)">
                           <span *ngIf="!clickedArray[index].clicked; else loadAction">
                            Join Channel
                          </span>
                          <ng-template #loadAction class="spinner">
                            <div class="flex-center">
                              <mat-spinner diameter="20"></mat-spinner>
                            </div>
                          </ng-template>
                        </button>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </section>
            </mat-list-item>
          </div>
        </div>
        <!--  No Items found in search Block -->
        <ng-template #noItemsFound>
          <div class="flex-center plain-text-xx no-items">
            No Channels Found With Name "{{searchInput}}"
          </div>
        </ng-template>
      </div>

      <ng-template #loading class="flex-center full-container">
        <div class="full-container flex-center">
          <div class="loading-text">
            <div>
              <mat-spinner></mat-spinner>
            </div>
            <div class="plain-text-accent">
              Loading
            </div>
          </div>
        </div>
      </ng-template>
    </mat-selection-list>
  </div>
  <div class="channel-list-footer">

  </div>
</mat-card>
