<div class="modal-header flex-center">
  <h3 class="header-text-cards">
    Change Password
  </h3>
</div>
<form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3">
        <label for="old-password" class="col-form-label plain-text">
          Old Password<span class="plain-text-s-accent">*</span>:
        </label>
      </div>
      <div class="col-md-9 input-group">
        <input [type]="seePassword(0)" class="form-control" formControlName="oldPassword" id="old-password"
               placeholder="Please enter your old password"
               [ngClass]="{
                         'has-danger': oldPassword.invalid && (oldPassword.dirty || oldPassword.touched),
                         'has-success': oldPassword.valid && (oldPassword.dirty || oldPassword.touched)
                         }">
        <div class="input-group-append" (click)="seePasswordArray[0] = !seePasswordArray[0]">
            <span class="input-group-text" id="see-old-password">
              <mat-icon>remove_red_eye</mat-icon>
            </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="new-password" class="col-form-label plain-text">
          New Password<span class="plain-text-s-accent">*</span>:
        </label>
      </div>
      <div class="col-md-9 input-group">
        <input [type]="seePassword(1)" class="form-control" id="new-password"
               placeholder="Please enter a new password"
               aria-describedby="see-new-password" formControlName="newPassword" [ngClass]="{
                         'has-danger': newPassword.invalid && (newPassword.dirty || newPassword.touched),
                         'has-success': newPassword.valid && (newPassword.dirty || newPassword.touched)
                         }">
        <div class="input-group-append" (click)="seePasswordArray[1] = !seePasswordArray[1]">
            <span class="input-group-text" id="see-new-password">
              <mat-icon>remove_red_eye</mat-icon>
            </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="confirm-new-password" class="col-form-label plain-text">
          Confirm New Password<span class="plain-text-s-accent">*</span>:
        </label>
      </div>
      <div class="col-md-9 input-group">
        <input [type]="seePassword(2)" class="form-control" id="confirm-new-password"
               placeholder="Please confirm your new password"
               aria-describedby="confirm-see-new-password" formControlName="confirmPassword" [ngClass]="{
                         'has-danger': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
                         'has-success': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)
                         }">
        <div class="input-group-append" (click)="seePasswordArray[2] = !seePasswordArray[2]">
            <span class="input-group-text" id="confirm-see-new-password">
              <mat-icon>remove_red_eye</mat-icon>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer flex-center">
    <div class="full-container">
      <div class="row error-box" *ngIf="setPasswordError">
        <div>{{setPasswordError}}</div>
        <span (click)="closeError()"><mat-icon>close</mat-icon></span>
      </div>
      <div class="row flex-center">
        <div>
          <button type="button" mat-raised-button class="mat-button success button-text" color="warn"
                  (click)="modal.dismiss()">
            Cancel
          </button>
          <button type="submit" [disabled]="!updatePasswordForm.valid" mat-raised-button class="mat-button cancel button-text" color="primary">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
