/* You can add global styles to this file, and also import other style files */
$primary-color: #31CB9F
$secondary-color: #67E0BD

@mixin transform($property)
  -webkit-transform: $property
  -ms-transform: $property
  transform: $property

body
  font-family: Roboto, Arial, sans-serif
  margin: 0
  background-color: #F3F3F3

