/* You can add global styles to this file, and also import other style files */
$primary-color: #31CB9F
$secondary-color: #67E0BD
$secondary-color-hover: #67E0BD40
$warning-color: #f44336
$blue-team-color: #BBD1FF
$red-team-color: #FCAAAA

$hover-color: #f9f9f9

$card-width: 97%

@mixin transform($property)
  -webkit-transform: $property
  -ms-transform: $property
  transform: $property

@mixin flex($flex-flow, $justify-content)
  display: flex
  flex-flow: $flex-flow
  justify-content: $justify-content
  padding: 0
  margin: 0
  list-style: none

body
  font-family: Roboto, Arial, sans-serif
  margin: 0
  background-color: #F3F3F3

.full-container
  width: 100%
  height: 100%

.half-container
  width: 50%
  height: 50%


@mixin voting-bar($color)
  border: 1px solid $color
  width: 85%
  height: 60%


//################################### Positioning  ####################################################
.top-chat
  margin-bottom: 15px

.top-card
  margin: 15px auto
  max-width: $card-width

//used to auto fill space
.default-container
  flex: auto

.debate-container
  margin: 2px auto
  max-width: $card-width
  height: 240px

.flex-column-center
  @include flex(column, flex-start)
  align-items: center

.flex-column-left
  @include flex(column, flex-start)
  align-items: flex-start

.flex-column-right
  @include flex(column, flex-start)
  align-items: flex-end

.flex-center
  @include flex(row, center)
  align-items: center

.flex-center-left
  @include flex(row, flex-start)
  align-items: center

.flex-center-right
  @include flex(row, flex-end)
  align-items: center

.flex-bottom-center
  @include flex(row, center)
  align-items: flex-end

.flex-bottom-left
  @include flex(row, flex-start)
  align-items: flex-end

.flex-bottom-right
  @include flex(row, flex-end)
  align-items: flex-end

.flex-top-left
  @include flex(row, flex-start)
  align-items: flex-start

.flex-top-center
  @include flex(row, center)
  align-items: flex-start

.flex-top-right
  @include flex(row, flex-end)
  align-items: flex-start

.left-icon
  padding-right: 10px

.right-icon
  padding-left: 10px

//################################### Fonts Text and Icons ############################################

$text-size-regular: 1.25em
$text-size-medium: 1.12em
$text-size-large: 1.33em
$text-size-gigantic: 2.7em
$text-size-gigantic2: 3.6em
$text-size-small: 1em
$text-color: #6C757D

@font-face
  font-family: centuary-gothic
  src: url("src/assets/fonts/century-gothic/century-gothic.ttf") format("opentype")

@mixin plain-text($font-size, $font-color)
  font-family: centuary-gothic, sans-serif
  font-size: $font-size
  color: $font-color

@mixin header-text($font-size, $font-color)
  font-family: "URW Bookman", serif
  font-size: $font-size
  color: $font-color

@mixin fav-icon($font-size)
  font-size: $font-size
  color: $text-color

.button-text
  @include plain-text($text-size-large, white)

.text-header-plain
  @include header-text($text-size-regular, $text-color)

.text-header-plain-accent
  color: darken($primary-color, 5%)

.text-header-cards
  @include header-text($text-size-large, $text-color)

.text-header-x
  @include header-text($text-size-gigantic, $text-color)

.text-header-primary
  @include header-text($text-size-gigantic, white)

.plain-text
 @include plain-text($text-size-regular, $text-color)

.plain-text-blue
  @include plain-text($text-size-regular, darken($blue-team-color, 10%))

.plain-text-red
  @include plain-text($text-size-regular, darken($red-team-color, 10%))

.plain-text-xx
  @include plain-text($text-size-gigantic, $text-color)

.plain-text-xxx
  @include plain-text($text-size-gigantic2, $text-color)

.plain-text-x
  @include plain-text($text-size-large, $text-color)

.plain-text-s
  @include plain-text($text-size-small, $text-color)

.plain-text-accent
  @include plain-text($text-size-large, $primary-color)

.plain-text-s-accent
  @include plain-text($text-size-small, darken($primary-color, 20%))

.plain-text-white
  @include plain-text($text-size-regular, white)

.fav-icons
  @include fav-icon($text-size-regular)

.fav-icons-x
  @include fav-icon($text-size-large)

.fav-icons-s
  @include fav-icon($text-size-small)

textarea
  resize: none
  @include plain-text($text-size-medium, $text-color)

input
  @include plain-text($text-size-medium, darken($text-color, 30%))

//########################################################################################
.submit-container
  .mat-button
    width: 15%!important
    font-family: centuary-gothic, sans-serif!important
    font-size: $text-size-regular!important
    margin: 10px 10px
    &:hover
      left: 2px
  .success:hover
    background: lighten($primary-color, 20%)
  .cancel:hover
    background: lighten($warning-color, 20%)
