@import "src/styles"

.channel-detail-row
  padding: 5px

.channel-description
  text-align: center
  padding: 20px

.channel-details-header-row
  .channel-member
    flex: 1
  .channel-title
    flex: 2
    text-align: center
    font-size: $text-size-gigantic
  .channel-join-buttons
    flex: 1
    text-align: right
    .channel-top-buttons
      padding-bottom: 10px

.channel-footer
  padding-top: 15px
  .channel-debate-count
    text-align: right
