<div *ngIf="channelId; else spinner">
  <mat-card class="full-width-card" *ngIf="channel; else spinner">
    <div class="channel-detail-row">
      <section class="channel-details-header-row flex-center-left">
        <div class="channel-member full-container">
          <div *ngIf="isMember" class="plain-text-accent">
            <fa-icon [icon]="faUser" class="left-icon"></fa-icon>
            <span class="droppable">Joined</span>
          </div>
        </div>
        <div class="channel-title header-text-cards full-container">
          {{channel.name | titlecase}}
        </div>
        <div class="channel-join-buttons full-container">
          <div *ngIf="isMember; else joinBlock" class="channel-top-buttons">
            <button [disabled]="memberAction" mat-raised-button class="mat-button cancel" color="warn"
                    (click)="leaveChannel()" type="button">
              <span *ngIf="!memberAction; else buttonSpinner">
                Leave
              </span>
            </button>
          </div>
          <ng-template #joinBlock>
            <div class="channel-top-buttons">
              <button [disabled]="memberAction" mat-raised-button class="mat-button success" color="primary"
                      (click)="joinChannel()" type="button">
                <span *ngIf="!memberAction; else buttonSpinner">
                  Join
                </span>
              </button>
            </div>
          </ng-template>
        </div>
      </section>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="channel-description plain-text">
      {{channel.description}}
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="channel-detail-row">
      <section class="flex-center-left channel-footer">
        <div class="channel-members-count plain-text-s full-container">
          Members <span class="plain-text-s-accent">{{channel.members.items.length}}</span>
        </div>
        <div class="channel-debate-count plain-text-s full-container">
          Debates <span class="plain-text-s-accent">{{channelDebates?.length}}</span>
        </div>
      </section>
    </div>
  </mat-card>

  <div class="mobile-join-button">
    <div *ngIf="isMember; else joinBlock" class="channel-top-buttons flex-center">
      <button [disabled]="memberAction" mat-raised-button class="mat-button cancel" color="warn"
              (click)="leaveChannel()" type="button">
              <span *ngIf="!memberAction; else buttonSpinner">
                Leave
              </span>
      </button>
    </div>
    <ng-template #joinBlock>
      <div class="channel-top-buttons flex-center">
        <button [disabled]="memberAction" mat-raised-button class="mat-button success" color="primary"
                (click)="joinChannel()" type="button">
                <span *ngIf="!memberAction; else buttonSpinner">
                  Join
                </span>
        </button>
      </div>
    </ng-template>
  </div>

  <div *ngIf="channelDebates">
    <div *ngFor="let debate of channelDebates">
      <app-debate-card [debate]="debate"></app-debate-card>
    </div>
  </div>
</div>
<ng-template #spinner>
  <app-spinner [text]="'Fetching Channel Info'"></app-spinner>
</ng-template>


<ng-template #buttonSpinner>
  <div class="flex-center">
    <mat-spinner diameter="20"></mat-spinner>
  </div>
</ng-template>
