<div id="create-container">
  <mat-card class="create-card">
    <mat-card-content>
      <span class="plain-text-x">Create Debate</span>
      <fa-icon [icon]="faPlusCircle" class="fav-icons right-icon"></fa-icon>
    </mat-card-content>
  </mat-card>
</div>
<div class="debate-container">
  <mat-card class="debate-card">
    <div class="debate-card-header example-container">
      <div class="joined-blue example-container"></div>
      <div class="debate-card-heading example-container">
<!--        <mat-card-header>Debate Title</mat-card-header>-->
      </div>
      <div class="joined-red example-container"></div>
    </div>
    <div class="debate-card-content example-container">
      <div class="blue-team-votes example-container"></div>
      <div class="debate-description example-container"></div>
      <div class="red-team-votes example-container"></div>
    </div>
    <div class="debate-card-results example-container">
      <div class="blue-team-bar example-container"></div>
      <div class="debate-days-remaining example-container"></div>
      <div class="red-team-bar example-container"></div>
    </div>
  </mat-card>
</div>
