@import "../../../styles"

.top-card
  padding-bottom: 0

.create-channel-card
  padding-bottom: 0
  .left-panel
    flex: 6
    section
      .create-form
        flex: 14
      .divider
        flex: 1

label
  text-align: right

.col-md-12
  margin-top: 20px
  text-align: center

textarea
  text-align: left

.button-text
  button
    width: 193px
    height: 40px
  button:disabled
    background-color: #F3f3f3 !important
    border: 1px solid $primary-color



