@import "../../../styles"

.create-channel-card
  height: 430px
  .left-panel
    flex: 6
    section
      .create-form
        flex: 14
      .divider
        flex: 1
  .right-panel
    flex: 3
    section
      width: 100%
      height: 70%
      .image-panel
        width: 80%
        height: 90%
        margin: auto
        background-color: #F3f3f3
        border: 3px $text-color dashed
        border-radius: 20px

#upload-label
 padding: 0

label
  text-align: right

.drop-image
  text-align: center

.col-md-12
  margin-top: 20px
  text-align: center
  textarea
    text-align: left

