<mat-card class="debate-container" routerLink="/debate/{{debate.id}}">
  <div class="simple-debate-card-structure flex-column-center full-container">
    <div class="debate-card-header full-container">
      <!--      header-row    -->
      <section class="flex-center-left full-container">
        <div class="debate-card-top-left-corner plain-text-blue">
          <div *ngIf="teamInfo && teamInfo.team1.isMember">
            <fa-icon [icon]="fabBookMark"></fa-icon>
            <span class="right-icon">Joined</span>
          </div>
        </div>
        <div class="debate-card-top-center">
            <span class="plain-text-s">
              created by: <span class="plain-text-s-accent">{{debate.createdBy.username}}</span>
              <span class="non-mobile-info"> in channel: <span class="plain-text-s-accent">{{debate.channel.name}}</span></span>
              <span class="non-mobile-info"> on the: <span class="plain-text-s-accent">{{debate.createdAt | date: 'dd/MM/yyyy'}}</span></span>
            </span>
        </div>
        <div class="debate-card-top-right-corner plain-text-red">
          <div *ngIf="teamInfo && teamInfo.team2.isMember">
            <span class="left-icon">Joined</span>
            <fa-icon [icon]="fabBookMark"></fa-icon>
          </div>
        </div>
      </section>
    </div>

    <mat-divider [inset]="true" style="width: 98%"></mat-divider>

    <div class="debate-card-content full-container">
      <section class="flex-center-left full-container">
        <div class="debate-card-votes-block full-container flex-center-left">
          <div class="number-container">
            <div *ngIf="teamInfo; else loadingTeams">
              <div class="plain-text-xxx percentage">{{ratios.team1Percentage}}%</div>
              <div class="plain-text-xx number-of-votes">{{teamInfo.team1.score}}</div>
            </div>
            <ng-template #loadingTeams>
              <app-spinner [text]="'Fetching scores'"></app-spinner>
            </ng-template>
          </div>
        </div>
        <div class="debate-content-container full-container flex-center">
          <div>
            <div class="header-text-cards full-container center-text debate-title">
              <span>{{debate.title | titlecase}}</span>
            </div>
            <div class="plain-text full-container debate-description">
              <div class="center-text">
                {{debate.description}}
              </div>
            </div>
          </div>
        </div>
        <div class="debate-card-votes-block full-container flex-center-right">
          <div class="number-container">
            <div *ngIf="teamInfo; else loadingTeams">
              <div class="plain-text-xxx percentage">{{ratios.team2Percentage}}%</div>
              <div class="plain-text-xx number-of-votes">{{teamInfo.team2.score}}</div>
            </div>
            <ng-template #loadingTeams>
              <app-spinner [text]="'Fetching scores'"></app-spinner>
            </ng-template>
          </div>
        </div>
      </section>
    </div>
    <div class="debate-card-footer full-container">
      <section class="flex-bottom-left full-container">
        <div class="debate-card-bottom-left-corner full-container">
          <div class="debate-team-name-left header-text-regular">
            {{debate.team1.name | titlecase}}
          </div>
          <div class="debate-bar">
            <div class="blue-bar">
              <div *ngIf="teamInfo; else emptyBars">
                <div class="blue-bar-center" [ngStyle]="{width: ratios.team1Percentage + '%', height: '100%'}">

                </div>
              </div>
              <ng-template #emptyBars>
                <div class="blue-bar-center" [ngStyle]="{width: 0 + '%'}">
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="debate-card-center flex-center">
          <div class="time-block full-container">
            <!--            <div *ngIf="debate.daysLeft !== 0; else debateOver">-->
            <!--              <span class="header-text-x"> {{debate.daysLeft}} </span><span class="header-text-cards">Days</span>-->
            <!--              <div class="header-text-cards">-->
            <!--                Remaining-->
            <!--              </div>-->
            <!--            </div>-->
            <ng-template #debateOver>
              <div class="plain-text-red">This debate has been completed</div>
            </ng-template>
          </div>
        </div>
        <div class="debate-card-bottom-right-corner full-container flex-column-right">
          <div class="debate-team-name-right header-text-regular">
            {{debate.team2.name | titlecase}}
          </div>
          <div class="debate-bar full-container flex-top-right">
            <div class="red-bar">
              <div *ngIf="teamInfo; else emptyBars">
                <div class="red-bar-center" [ngStyle]="{width: ratios.team2Percentage + '%', height: '100%'}">

                </div>
              </div>
              <ng-template #emptyBars>
                <div class="red-bar-center" [ngStyle]="{width: 0 + '%'}">
                </div>
              </ng-template>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</mat-card>
