@import "src/styles"

.debate-container:hover
  cursor: pointer
  left: 1px

mat-divider
  width: 90%

.time-block
  span
    span
      font-size: $text-size-small

mat-card-content
  text-align: center

mat-card
  padding: 5px 15px

.blue-bar-center
  min-height: 15px
  background-color: $blue-team-color

.red-bar-center
  min-height: 15px
  background-color: $red-team-color

.bars
  width: 100%
  min-height: 40px
